<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'CONTACTADD.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
    "fname": "Nom",
    "lname": "Cognoms",
    "email": "Correu electrònic",
    "phone": "Numero de contacte",   
    "type": "TYPE",      
    "comment":"Comentari",
  -->
  <div class="content-container" id="profile-page">
    <form [formGroup]="newContactForm" (ngSubmit)="submitForm()" novalidate>
      <!-- FNAME -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'CONTACTADD.fname' | translate }}</ion-label>
        <ion-input formControlName="fname" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.fname">
        <div class="form-err" *ngIf="newContactForm.get('fname').hasError(error.type) && (newContactForm.get('fname').dirty || newContactForm.get('fname').touched)">
          {{ error.message }}
        </div>
      </span>
      <!-- LNAME -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'CONTACTADD.lname' | translate }}</ion-label>
        <ion-input formControlName="lname" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.lname">
        <div class="form-err" *ngIf="newContactForm.get('lname').hasError(error.type) && (newContactForm.get('lname').dirty || newContactForm.get('lname').touched)">
          {{ error.message }}
        </div>
      </span>
      <!-- EMAIL? -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'CONTACTADD.email' | translate }}</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.email">
        <div class="form-err" *ngIf="newContactForm.get('email').hasError(error.type) && (newContactForm.get('email').dirty || newContactForm.get('email').touched)">
          {{ error.message }}
        </div>
      </span>
      <!-- TYPE? -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'CONTACTADD.type' | translate }}</ion-label>
        <ion-input formControlName="type" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.lname">
        <div class="form-err" *ngIf="newContactForm.get('lname').hasError(error.type) && (newContactForm.get('lname').dirty || newContactForm.get('lname').touched)">
          {{ error.message }}
        </div>
      </span>

      <!-- PHONE¿¿ --> 
      <ion-item lines="full">
        <ion-label position="floating">{{ 'CONTACTADD.phone' | translate }}</ion-label>
        <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.phone">
        <div class="form-err" *ngIf="newContactForm.get('phone').hasError(error.type) && (newContactForm.get('phone').dirty || newContactForm.get('phone').touched)">
          {{ error.required }}
        </div>
      </span>
  
      <ion-row>
        <ion-col>
          <ion-button *ngIf="!userToUpdate" type="submit" color="danger" expand="block">{{ 'CONTACTADD.add' | translate }}</ion-button>
          <ion-button *ngIf="userToUpdate"  type="submit" color="danger" expand="block">{{ 'CONTACTADD.update' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>