<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="content-container" id="profile-page">
    <form [formGroup]="userInfoForm" (ngSubmit)="submitForm()" novalidate>
      <!-- first NAME -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'PROFILE.fname' | translate }}</ion-label>
        <ion-input formControlName="fname" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.fname">
        <div class="form-err" *ngIf="userInfoForm.get('fname').hasError(error.type) && (userInfoForm.get('fname').dirty || userInfoForm.get('fname').touched)">
          {{ error.message }}
        </div>
      </span>
      <!-- last NAME -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'PROFILE.lname' | translate }}</ion-label>
        <ion-input formControlName="lname" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.lname">
        <div class="form-err" *ngIf="userInfoForm.get('lname').hasError(error.type) && (userInfoForm.get('lname').dirty || userInfoForm.get('lname').touched)">
          {{ error.message }}
        </div>
      </span>
      
      <!-- BIRTHDAY -->
      <ion-item lines="full">
        <ion-label position="floating">{{ 'PROFILE.birthday' | translate }}</ion-label>
        <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
      </ion-item>
      <!-- PHONE --> 
      <ion-item lines="full">
        <ion-label position="floating">{{ 'PROFILE.phone' | translate }}</ion-label>
        <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngFor="let error of error_messages.phone">
        <div class="form-err" *ngIf="userInfoForm.get('phone').hasError(error.type) && (userInfoForm.get('phone').dirty || userInfoForm.get('phone').touched)">
          {{ error.message }}
        </div>
      </span>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">{{ 'PROFILE.update' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>