<ion-content class="bg-generic">
  <form  class= "center" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <!-- Novalidate is to disable native browser form validation-->
    <div class="container">
      <h1>{{ 'REGISTER.title' | translate }}</h1>
      <p>{{ 'REGISTER.text' | translate }}</p>
      <hr>
      <!-- First name -->
      <div >
        <label>{{ 'REGISTER.fname' | translate }}*</label>
        <input formControlName="fname" type="text"  />

        <ng-container *ngFor="let error of error_messages.fname">
          <div class="error-message" *ngIf="loginForm.get('fname').hasError(error.type) && (loginForm.get('fname').dirty || loginForm.get('fname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <!-- Last name -->
      <div>
        <label>{{ 'REGISTER.lname' | translate }}*</label>
        <input  formControlName="lname" type="text" />

        <ng-container *ngFor="let error of error_messages.lname">
          <div class="error-message" *ngIf="loginForm.get('lname').hasError(error.type) && (loginForm.get('lname').dirty || loginForm.get('lname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <!-- Email-->
      <div>
        <label>{{ 'REGISTER.email' | translate }}*</label>
        <input formControlName="email" type="text" />
     
      
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && 
                                            (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      
      <!-- Password1 -->


      <div>
        <label>{{ 'REGISTER.password1' | translate }}*</label>
        <input  formControlName="password1" type="password"/>
        <ng-container *ngFor="let error of error_messages.password1">
          <div class="error-message" *ngIf="loginForm.get('password1').hasError(error.type) && (loginForm.get('password1').dirty || loginForm.get('password1').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <!-- Password2 -->
      <div>
        <label>{{ 'REGISTER.password2' | translate }}*</label>
        <input formControlName="password2" type="password" />
        <ng-container *ngFor="let error of error_messages.password2">
          <div class="error-message" *ngIf="loginForm.get('password2').hasError(error.type) && (loginForm.get('password2').dirty || loginForm.get('password2').touched)">
            {{ error.message }}
          </div>
        </ng-container>
        <div class="error-message" *ngIf="!loginForm.get('password2').errors && loginForm.hasError('passwordNotMatch') && (loginForm.get('password2').dirty || loginForm.get('password2').touched)">
          Password and Confirm Password fields should match
        </div>
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid" routerLink="/login">{{ 'REGISTER.submit' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>