<ion-content > 
  <div class="content-container">
    <h1>{{ 'LOGIN.title' | translate }}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate  >
      <!-- Novalidate is to disable native browser form validation-->
      <div >
        
        <hr>
      <!-- Email-->
        <div>
          <label>{{ 'LOGIN.email' | translate }}</label>
          <input formControlName="email" type="email" />
       
        
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && 
                                              (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{ error.message }}
            </div>
          
          </ng-container>
        </div>
        <!-- Password1 -->
        <div>
          <label>{{ 'LOGIN.password' | translate }}</label>
          <input formControlName="password" type="password" />
          <ng-container *ngFor="let error of error_messages.password1">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div>
          <p><a routerLink="/signup">{{ 'LOGIN.signup' | translate }}</a></p>
          <p><a routerLink="/password-recovery">{{ 'LOGIN.forgot_password' | translate }}</a></p>
        </div>
    
        <div >
          <button  type="submit" class="loginButton green round" [disabled]="!loginForm.valid">{{ 'LOGIN.login_btn' | translate }}</button>
          <button  type="button" class="loginButton red round" routerLink="/home">{{ 'LOGIN.cancel_btn' | translate }}</button>
        </div>
      </div>
    </form>  
  </div>
                                   
                                      



</ion-content>
<!--inner-scroll scroll-y-->