<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header> {{ 'MENU.SECmain-page' | translate }} </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/home" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="chevron-forward"></ion-icon>
              <ion-label> {{ 'MENU.home' | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support-form" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>  {{ 'MENU.contact' | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/about" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="chevron-forward"></ion-icon>
              <ion-label> {{ 'MENU.about' | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label> {{ 'MENU.dark-mode' | translate }} </ion-label>
            <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
          </ion-item>
        </ion-list>
        <!-- ELEMENTS with ACCOUNT LoggedIn -->
        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            {{ 'MENU.SECelements' | translate }}
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/contactlist" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label> {{ 'MENU.contacts' | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <!-- 
              <ion-item routerLink="/contact-form" routerLinkActive="active" routerDirection="root" detail="false">
             -->
            <ion-item routerLink="/schedulelist" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
              <ion-label>  {{ 'MENU.schedule' | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false"> 
            <!-- 
              <ion-item routerLink="/about" routerLinkActive="active" routerDirection="root" detail="false">
            -->
            <ion-item detail="false">
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ion-label>  {{ 'MENU.places' | translate }} </ion-label>
            </ion-item>
            
          </ion-menu-toggle>

        </ion-list>
        <!-- ACCOUNT LoggedIn-->
        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            {{ 'MENU.SECaccount' | translate }}
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/profile" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                {{ 'MENU.details' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                {{ 'MENU.logout' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        


        <!-- ACCOUNT Not LoggedIn -->
        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            {{ 'MENU.SECaccount' | translate }}
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                {{ 'MENU.login' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                {{ 'MENU.signup' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <!-- TUTORIAL
        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        -->
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

</ion-app>