<ion-content>
  <div class='content-container'> 
    <h1>{{ 'RECOVERY.title' | translate }}</h1>
    <h2 style="color: green;">{{ 'RECOVERY.success' | translate }}</h2> 
    <p>{{ 'RECOVERY.success_msg_line1' | translate }}</p> 
    <p>{{ 'RECOVERY.success_msg_line2' | translate }}</p>
  </div>
</ion-content>
