<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'HOME.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="content-container" >
    <h1 *ngIf="loggedIn && user"> {{ 'HOME.user_greeting' | translate }} {{user}}! </h1>

    <h1 *ngIf="!loggedIn"> {{ 'HOME._greeting' | translate }}!</h1>
    
  </div>
  

  


</ion-content>
