<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">{{ 'CONTACTLIST.title' | translate }}</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateContactList()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span>
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of contactsUserArray ; let i= index "> 
      <div (click)="navigateToDetails(i)">
        <h3> {{user.fname}} {{user.lname}} {{user.phone}}</h3>
      </div>
      

      
  
    </ion-item>
    <ion-item *ngIf="!contactsUserArray || contactsUserArray.length === 0"> 
      <h3> {{ 'SEARCH.not_found' | translate}}</h3>
    </ion-item>

  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline" routerLink="/contactlist/add/"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

