
<!-- {{ 'RECOVERY.fname' | translate }} -->
<ion-content class="bg-generic">
  <div class="content-container">
    <form id="dynamicPassswdForm" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Novalidate is to disable native browser form validation-->
      <div class="container">
        <h1>{{ 'RECOVERY.title' | translate }}</h1>
        <p>{{ 'RECOVERY.text' | translate }}.</p>
        <hr>
  
        <!-- Email-->
        <div>
          <label>{{ 'RECOVERY.email' | translate }}</label>
          <input formControlName="email" type="text" />
          <ng-container *ngFor="let error of error_messages.email">
            <div class="form-err" *ngIf="loginForm.get('email').hasError(error.type) && 
                                              (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" [disabled]="!loginForm.valid" routerLink="done/">{{ 'RECOVERY.send_btn' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>
  
</ion-content>
