* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text],input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .contact-table {
    border-radius: 5px;
    //background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .ctable-col {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .ctable-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .ctable-col, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  input.ng-touched.ng-invalid, textarea.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
/*
.container{
    margin: auto;
    width: 30%;
    padding: 16px;
    background-color: white;
}

#login_form{
    display: table;
    margin: auto;
} 
    
  
input[type=text],input[type=email] {
    width: 100%;
    display: inline-block;
}
  

  

.error-message {
    color: red;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}


input.ng-touched.ng-valid{
    border: 1px solid #198754;
    background-repeat: no-repeat;
    padding-right: calc(1.5em + .75rem);
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
*/






