<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center">{{ 'CONTACT.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="contact-table" id="form-contact">
    <div class="ctable-row">
      <div class="ctable-col">
        <img src="../../assets/background_login.jpg"style="width:100%">
      </div>
      <div class="ctable-col">
        
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate>
          <!-- Novalidate is to disable native browser form validation-->
          <!-- First name -->
          <div >
            <label> {{ 'CONTACT.fname' | translate }}*</label>
            <input formControlName="fname" type="text" placeholder="{{ 'CONTACT.hint-fname' | translate }}"/>
    
            <ng-container *ngFor="let error of error_messages.fname">
              <div class="form-err" *ngIf="contactForm.get('fname').hasError(error.type) && (contactForm.get('fname').dirty || contactForm.get('fname').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>

          <!-- Email-->
          <div>
            <label>{{ 'CONTACT.email' | translate }}</label>
            <input formControlName="email" type="email" placeholder="{{ 'CONTACT.hint-email' | translate }}" />
         
          
            <ng-container *ngFor="let error of error_messages.email">
              <div class="form-err" *ngIf="contactForm.get('email').hasError(error.type) && 
                                                (contactForm.get('email').dirty || contactForm.get('email').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
          
          <!-- Suject-->
          <div>
            <label for="subject">{{ 'CONTACT.subject' | translate }}</label>
            <textarea type="text" formControlName="textbox"  placeholder="{{ 'CONTACT.hint-subject' | translate }}" style="height:200px; width: 100%;"></textarea>  
            <ng-container *ngFor="let error of error_messages.textbox">
              <div class="form-err" *ngIf="contactForm.get('textbox').hasError(error.type) && (contactForm.get('textbox').dirty || contactForm.get('textbox').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>

          
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" [disabled]="!contactForm.valid" >{{ 'CONTACT.send' | translate }}</ion-button>
            </ion-col>
          </ion-row>
        </form>
       
       
      </div>
    </div>
  </div> 


</ion-content>
